<br/>
<a class="link-back" href="/surftrickList">Back</a>

<div class="links-surftricklist">
        <a class="link-create" href="/surftrickList/create">Create your Surf Trick!</a>      
</div>

<br/>
<br/>
<br/>

{{#if error}}
   <p class="error">
   {{error}}
   </p>
{{/if}} 



{{#if userInSession}}
<h2>Welcome, <strong>{{ userInSession.username }}</strong>!</h2>
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}


<h1>Check out the latest tricks posted form our Community!</h1>

<hr>

<div class="row row-eq-height">
    {{#each data.surftricksArr}}
    <div class="col-md-4 mb-5">
        <div class="cards-text-center shadow p-3 mb-5 w-100 bg-white rounded" style="width: 18rem;">
            <div class="image">
            <img src="{{this.image}}" class="card-img-top" alt="surftrick">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-rate">Rate of difficulty: {{this.rateOfDifficulty}}</p>
                <p class="card-author">Posted by: {{this.author.username}}</p>
                <a href="/surftrickList/{{this._id}}" id="button" class="btn btn-light center">More details</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<a class="link-back" href="/surftrickList">Back</a>

