<h1>{{this.title}}</h1>

<hr />

<h3>Image</h3>
 <img src="{{this.image}}">

<h3>Name of the Surftrick:</h3>
<p>{{this.name}}</p>

<h3>Description:</h3>
<p>{{this.description}}</p>

<h3>Rating:</h3>
<p>{{this.rateOfDifficulty}}</p>




<a href="/surftrickList/{{this._id}}/edit">Edit</a>

<form id="delete-form" action="/surftrickList/{{this._id}}/delete" method="POST">
    
   
    <button>Delete Surf Trick!</button>
    
</form>
{{errorMessage}}
<hr />

<a href="/surftrickList">Back</a>