
 <img src="{{surftrickFromDB.image}}">

<h3>Name of the Surftrick:</h3>
<p>{{surftrickFromDB.name}}</p>

<h3>Description:</h3>
<p>{{surftrickFromDB.description}}</p>

<h3>Rating:</h3>
<p>{{surftrickFromDB.rateOfDifficulty}}</p>

<p>hello</p>

{{#if isOwner}}


    <a href="/surftrickList/{{surftrickFromDB._id}}/edit">Edit</a>

        <form id="delete-form" action="/surftrickList/{{surftrickFromDB._id}}/delete" method="POST">
        
        <button>Delete Surf Trick!</button>
    
    </form>

{{/if}}



<hr />

{{errorMessage}}




<a href="/surftrickList">Back</a>