<h2>Edit your Surf Trick!</h2>

<hr>

<form action="/surftrickList/{{this._id}}/edit" method= "POST">
    <label>Trick Name
        <input type="text" name= "name" value="{{this.name}}"/>
    </label>

    <label>Upload your image
        <input type="text" name= "image" value="{{this.image}}"/>
    </label>

    <label>Description
        <textarea name= "description" cols= "30" rows= "4">{{this.description}}</textarea>
    </label>


    <label>Rating of difficulty
        <input type="number" name= "rateOfDifficulty" min="1" max="10" value="{{this.rateOfDifficulty}}" />
    </label>

    <button type="submit">Save</button>

</form>