<h2>Surftrick List</h2>
 {{#if error}}
   <p class="error">
   {{error}}
   </p>
   {{/if}} 
<hr>

<nav class="navbar navbar-expand-lg">
    <a class="nav-link" href="/surftrickList/create">Create your Surf Trick!</a>

 <nav>
    <ul>
        <li>
        <a href="/surftrickList/create">Create your Surf Trick!</a>
        </li>

    </ul>
</nav>


{{#if userInSession}}
<h2>Welcome, {{ userInSession.username }}!</h2>
<p>This is your profile page !</p>


{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}


{{#each data.surftricksArr}}
<div class="surftrick-list">

    <p>Author: {{this.author.username}}</p>

    <p>
        Surftrick Name: {{this.name}}
    </p>

    <img src="{{this.imageURL}}" class="card-img-top">
    {{!-- <p>
        Image: {{this.image}}
    </p> --}}
    <p>
        Rating of Difficulty: {{this.rateOfDifficulty}}
    </p>

    <a href="/surftrickList/{{this._id}}">More details</a>
</div>





{{/each}}